TEST_ENV=qa

WEB_BASE_URL=
API_BASE_URL=

STAGING_WEB_BASE_URL=https://veterenary-production.up.railway.app
STAGING_API_BASE_URL=https://veterenary-production.up.railway.app/api/v1

PRODUCTION_WEB_BASE_URL=
PRODUCTION_API_BASE_URL=

DEMO_USER_EMAIL=admin@vetdemo.test
DEMO_USER_PASSWORD=password
